{% extends 'main.html' %} {% block content %}
<div class="jumbotron text-center">
    <h1>Welcome to Restaurant Menu App</h1>
    <p class="lead">This application is built on the Python Flask framework and is the framework used to build this entire application.</p>
    {% if session.login_session %}
    	<a href="/logout" class="btn btn-warning btn-lg">Logout</a>
    {% else %}
    	<a href="/login" class="btn btn-primary btn-lg">Google Login</a><br><br>
    	<a href="/email-login" class="btn btn-default btn-lg">Email Login</a>
    {% endif %}
</div>
{% endblock %}